.Header {
    height: 70px; 
    background: url(../../images/header.jpg) no-repeat center fixed; 
}

a {
    color: white;
    font-size: x-large;
    cursor: pointer;
    line-height: 75px
}

span {
    margin: 4%;
}

#logo {
    width: 250px;
    height: 30px;
    margin-top:1%
}